<footer>
  <small class = "footer-text"> &copy; TechMasters </small>
  <ul class = "footer-nav-links">
    <li> <a class = "footer-link" href="#">About</a> </li>
    <li> <a class = "footer-link" href="#">Contact Us!</a> </li>
  </ul>
  <div class = "Social">
    <img src="../assets/images/facebook-brands.svg" alt="fb" height="25" width="25" />
    <img src="../assets/images/twitter-brands.svg" alt="twitter" height="25" width="25" />
  </div>
</footer>
