<div class = "upperHeader">
  <div class = "logo-container">
    <img src="../assets/images/icon.png" alt="logo" width = "50" height="50">
    <h2 class = "logo"> <a href = "index.html"> TechMasters </a> </h2>
  </div>

  <nav class ="user-specific-nav">
    <ul class = "user-nav-links">
      <li> <a class = "user-link" href="#">Host New Talk</a> </li>
      <li> <a class = "user-link" href="savedConnections.html">Log In</a> </li>
      <li> <a class = "user-link" href="savedConnections.html">Sign Up!</a> </li>
    </ul>
  </nav>
</div>
