<nav class = "gen-site-nav-logged-in" >
  <ul class = "gen-nav-links">
    <li> <a class = "gen-link" href="#">Scheduled Talks &nbsp; &nbsp;</a> </li>
    <li> <a class = "gen-link" href="#">Learn More &nbsp; &nbsp; </a> </li>
    <li> <a class = "gen-link" href="#">Pricing </a> </li>
  </ul>
  <div class = "userName">
    Welcome back, Norm!
  </div>
</nav>
