<nav class = "gen-site-nav" >
  <ul class = "gen-nav-links">
    <li> <a class = "gen-link" href="connections.ejs">Scheduled Talks &nbsp; &nbsp;</a> </li>
    <li> <a class = "gen-link" href="#">Learn More &nbsp; &nbsp;</a> </li>
    <li> <a class = "gen-link" href="#">Pricing </a> </li>
  </ul>
</nav>
