<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
		<link rel = "stylesheet" href="../assets/stylesheets/style.css" />
		<title> Homepage </title>
	</head>

	<body>

	<header>
	<%- include('partials/header'); -%>
	<%- include('partials/site-navigation'); -%>
	</header>

	<main>
    <h1>Form Demo</h1>
    <form>
      <fieldset>
        <legend>Text input</legend>
        <p>
          <label>Topic</label>
          <input type = "text" id = "topic" value = "text here" />
        </p>
        <p>
          <label>  Name </label>
          <input type = "text" id = "name" />
        </p>
        <p>
          <label>  Details </label>
          <<textarea id = "details" rows="3" cols="80"> </textarea>
        </p>

        <p>
          <label> Where </label>
          <input type = "text" id = "location" value = "location" />
        </p>

      </fieldset>
    </form>
	</main>

	<%- include('partials/circle-theme'); -%>

	<%- include('partials/footer'); -%>

	</body>
</html>
