<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
		<link rel = "stylesheet" href="../assets/stylesheets/style.css" />
		<title> New Connection </title>
	</head>

	<body>

	<header>
	<%- include('partials/header'); -%>
	<%- include('partials/site-navigation'); -%>
	</header>
  <h1>Host your talk here!</h1>

	<form action = "/" method="post">
		<input type="text" name="connection[name]">
		<input type="text" name="connection[host]">
		<input type="text" name="connection[topic]">
		<input type="text" name="connection[details]">
		<input type="text" name="connection[date]">
		<input type="text" name="connection[time]">
		<button type="submit">Submit</button>
	</form>


	<%- include('partials/circle-theme'); -%>

	<%- include('partials/footer'); -%>

	</body>
</html>
