<div class = "upperHeader">
  <div class = "logo-container">
    <img src="../assets/images/icon.png" alt="logo" width = "50" height="50">
    <h2 class = "logo"> <a href = "/"> TechMasters </a> </h2>
  </div>

  <nav class ="user-specific-nav">
    <ul class = "user-nav-links">
      <li> <a class = "user-link" href="newConnection">Host A Talk</a> </li>
      <li> <a class = "user-link" href="#">Log Out</a> </li>
      <li> <a class = "user-link" href="#">My Talks</a> </li>
    </ul>
  </nav>
</div>
